body {
    background-color: black;
    font-family: 'Orbitron', sans-serif;
    color: chartreuse;
}

.navbar-brand {
    color: chartreuse;
}

.content {
    min-height: calc(90vh - 50px);
    width: 80%;
    margin: auto;
    text-align: center;
}

h1 {
    text-align: center;
}

div {
    text-align: center;
}

#display {
    font-size: 200px;
}

#rules {
    font-size:36px;
}

#questionDis {
    font-size: 32px;
}

#a {
    font-size: 22px;
}

#b {
    font-size: 22px;
}

#c {
    font-size: 22px;
}

#d {
    font-size: 22px;
}

#e {
    font-size: 22px;
}

.hidden {
    opacity:0;
}

.form-group {
    font-size: 22px;
    width: 20%;
    margin: auto;
}

.btn-primary {
    margin: 10px;
    background-color: chartreuse;
    color: black;
    font-family: 'Orbitron', sans-serif;
    border: chartreuse;
}

footer {
    height: 50px;
    font-size: 24px;
}